
html, body {
	/* height:100vh; */
	overflow-x: hidden; 
}

#content-panel {
	width:92%;
	height:100%;
	margin: 4% 4% 4% 4%;
	padding-top:0px;
	background-color:green;  
}
.backpanel-mh {
	width:100%;
	height:100vh;
	margin: 0 0 0 0;
	padding-top:0px;
	background-color:grey;
	border-top: 1px solid white;
	border-left:1px solid white;
}

.frontpanel-mh {
	width:40%;
	height:100%;
	margin-top:0px;
	background-color:red;
}

.panel2 {
	width:92%;
	height:100vh;
	margin: 0% 4% 4% 4%;
	background-color:red;
}

.navbar{
	margin-top:-2px;
	margin-bottom:0px; 
	background-color:white;
	border-bottom: none;
	overflow: hidden;
	position:fixed;
	width:100%;
}

.navbar-brand {
	margin-left:3.5% !important;
}

.navbar-nav {
	float:right;
	margin-right: .5%;
}

#upper_left {
	position: fixed;
	top: 1.5%;
	left: 3.5%;
}
#upper_right {
	position: fixed;
	top: 1.5%;
	right: 3.5%;
}

#mid_left {
	position: fixed;
	top:50%;
	bottom:0;
	left: 2.5%;
}

#lower_left {
	position: fixed;
	bottom:3.5%;
	left: 4%;

}
#lower_right {
	bottom: 3.5%;
	right: 4%;
	position: fixed;

}
a, hover { 
	color: black; 
	text-decoration: none; 
}

#rot {
	padding:0;
	margin:0;
	position:relative;
	right:0;
	top:0px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.mid_menu_margin {
	left:30% !important;
	font-size:12px;
}

.icon {
	float:right;
	text-align:right;
	width:6px;
	margin-top:40px;
	height:0px;
	line-height:5px;

}



#mid_left a:hover, a:visited  {
	text-decoration: none;
}
/*
#icon {
font-size:12px;
}
*/
/*
img {
height:100%;
width:100%;
}
*/

#rot2 {
	padding:0;
	margin:0;
	position:relative;
	right:0;

	top:0px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#rot3 {

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}


#my_model {
	border:none;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 0; /* Sit on top */
	border:none;
	padding-top:0px; /* Location of the box */
	left: 0;
	top: 0;
	background-color: grey;
	margin: auto;
	padding: none
	border: none;
	width:92%;
	height:100%;
	margin: 4% 4% 4% 4%;
	overflow: hidden; /* Enable scroll if needed */
	border: none;
/*
background-color: rgb(0,0,0); 
background-color: rgba(1,1,1,0.0); *//* Black w/ opacity */
}





/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close_modal {
	float:left;
	width:5%;
	height:100%;
	margin-top:25%;
	margin-left:-14%;
}

.close {
	color: black;
	font-size: 24px;
	font-weight: 200;
	bottom:0;
	opacity:1;
}

.close:hover,
.close:focus {
	color: grey;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
}
.modal-body {
	margin: 0% 0% 10% 0%;
	padding-left:10%;
	height:100%;
	color:black;
	background-color: white;
}

.modal_content {
	float:left;
	margin-top:10%;
	margin-left:10%;
}

.modal_square {
	height:100%;
	width:10%;
	margin-right:6%;
	background-color:red;
	float:right;
}

.modal_content a:hover, a:visited {
	text-decoration: none;
}

.modal-body h2 {
	line-height:1.6;
	font-size:2.2em;
}
.modal-body p {
	margin-top:25%;
}

span.strike {
	text-decoration: line-through;
}
